# =YOUR_VALUE_HERE
# ПРОИЗВОДСТВЕННЫЕ НАСТРОЙКИ PSY BOT
# =YOUR_VALUE_HERE

# =YOUR_VALUE_HERE
DATABASE_URL=postgresql://username:password@localhost/database_name

# =YOUR_VALUE_HERE
TELEGRAM_BOT_TOKEN=YOUR_VALUE_HERE
TELEGRAM_BOT_USERNAME=YOUR_VALUE_HERE

# =YOUR_VALUE_HERE
RAILS_ENV=YOUR_VALUE_HERE
RAILS_MASTER_KEY=YOUR_VALUE_HERE
SECRET_KEY_BASE=YOUR_VALUE_HERE

# =YOUR_VALUE_HERE
BASE_URL=YOUR_VALUE_HERE
TELEGRAM_WEBHOOK_URL=YOUR_VALUE_HERE
RAILS_SERVE_STATIC_FILES=YOUR_VALUE_HERE
