```
  # Игнорируем .env файл с секретами
  .env
  .env.enc

  # Игнорируем директорию tmp (временные файлы)
  tmp/
  tmp//*

  # Игнорируем директорию log (логи)
  log/
  log//*

  # Игнорируем файлы .DS_Store (macOS)
  .DS_Store

  # Игнорируем node_modules (если вдруг есть)
  node_modules/

  # Игнорируем файлы .idea (JetBrains IDE)
  .idea/

  # Игнорируем файлы .vscode (VSCode)
  .vscode/

  # Игнорируем файлы, связанные с редактором
  *.swp
  *~
  \#*\#

  # Игнорируем папку с сертификатами localtunnel (если она есть)
  .localtunnel/
  
```